<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>
<p style="font-weight: bold; font-size: larger;"><%= link_to "Create New Post", new_post_path %></p>
<div id="posts">
  <% @posts.each do |post| %>
    <div id="<%= dom_id post %>" class="<%= cycle('bg-dark', 'bg-light') %>">
      <div class="post-title">
        <%= link_to post.title, post %>
      </div>
      <div class="post-body">
        <%= truncate(post.body, length: 100) %>
      </div>
    </div>
  <% end %>
</div>
